Repository gcovr/gcovr, pull requests merged in 2021-12, with the labels that each got.

#516 Add nox to run test and environment
  .editorconfig
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.rst
  CONTRIBUTING.rst
  Makefile
  admin/Dockerfile.qa
  doc/README.txt
  gcovr/gcov.py
  gcovr/tests/test_gcovr.py
  noxfile.py
  requirements.txt
Labels: Type: Enhancement, needs review, QA, Internal change

#539 Activate symlink tests under Windows
  CHANGELOG.rst
  gcovr/gcov.py
  gcovr/tests/cmake_oos/Makefile
  gcovr/tests/filter-absolute-from-unfiltered-tracefile/Makefile
  gcovr/tests/filter-absolute/Makefile
  gcovr/tests/filter-relative-lib-from-unfiltered-tracefile/Makefile
  gcovr/tests/filter-relative-lib/Makefile
  gcovr/tests/linked/Makefile
  gcovr/tests/shared_lib/Makefile
  gcovr/tests/simple1/Makefile
  gcovr/tests/test_gcovr.py
  gcovr/utils.py
  gcovr/writer/html.py
Labels: Type: Enhancement, Platform: Windows, QA

#537 Add test to install wheel after build.
  CHANGELOG.rst
  noxfile.py
Labels: Type: Enhancement, QA, Internal change

#541 Allow full path to gcc.
  CHANGELOG.rst
  CONTRIBUTING.rst
  doc/examples/test_examples.py
  gcovr/tests/simple1/Makefile
  gcovr/tests/test_gcovr.py
  noxfile.py
Labels: Type: Enhancement, QA

#542 Fix option to reuse virtual environment.
  noxfile.py
Labels: Type: Bug, QA

#521 Add gcc abspath
  CHANGELOG.rst
  doc/source/cookbook.rst
  doc/source/guide.rst
  gcovr/tests/gcc-abspath/Makefile
  gcovr/tests/gcc-abspath/reference/gcc-8/coverage.json
  gcovr/tests/gcc-abspath/subfolder/Makefile
  gcovr/tests/gcc-abspath/subfolder/main.c
  gcovr/tests/test_gcovr.py
Labels: needs review, Docs, QA

#526 Fix C comments and dependency on spaces.
  gcovr/gcov_parser.py
  gcovr/tests/excl-branch/reference/clang-10/coverage.html
  gcovr/tests/excl-branch/reference/clang-10/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/excl-branch/reference/clang-10/coverage.xml
  gcovr/tests/excl-branch/reference/clang-10/coveralls.json
  gcovr/tests/excl-branch/reference/clang-10/sonarqube.xml
  gcovr/tests/excl-branch/reference/clang-10/summary_coverage.json
Labels: Type: Bug, needs review, Gcov

#547 Use LF for sh files.
  .editorconfig
  CHANGELOG.rst
Labels: Type: Enhancement, Internal change

#548 Change attribute root in json summary
  CHANGELOG.rst
  doc/examples/example_json_summary.json
  gcovr/tests/add_coverages/reference/clang-10/summary_coverage.json
  gcovr/tests/add_coverages/reference/gcc-5/summary_coverage.json
  gcovr/tests/add_coverages/reference/gcc-6/summary_coverage.json
  gcovr/tests/add_coverages/reference/gcc-8/summary_coverage.json
  gcovr/tests/bad++char/reference/clang-10/summary_coverage.json
  gcovr/tests/bad++char/reference/gcc-5/summary_coverage.json
  gcovr/tests/bad++char/reference/gcc-6/summary_coverage.json
  gcovr/tests/bad++char/reference/gcc-8/summary_coverage.json
  gcovr/tests/excl-branch/reference/clang-10/summary_coverage.json
  gcovr/tests/excl-branch/reference/gcc-5/summary_coverage.json
  gcovr/tests/excl-branch/reference/gcc-6/summary_coverage.json
  gcovr/tests/excl-branch/reference/gcc-8/summary_coverage.json
  gcovr/tests/oos/reference/clang-10/summary_coverage.json
  gcovr/tests/oos/reference/gcc-5/summary_coverage.json
  gcovr/tests/oos/reference/gcc-6/summary_coverage.json
  gcovr/tests/oos/reference/gcc-8/summary_coverage.json
  gcovr/tests/simple1-dir/reference/clang-10/summary_coverage.json
  gcovr/tests/simple1-dir/reference/gcc-5/summary_coverage.json
  gcovr/tests/simple1-dir/reference/gcc-6/summary_coverage.json
  gcovr/tests/simple1-dir/reference/gcc-8/summary_coverage.json
  gcovr/tests/simple1-stdout/reference/clang-10/summary_coverage.json
  gcovr/tests/simple1-stdout/reference/gcc-5/summary_coverage.json
  gcovr/tests/simple1-stdout/reference/gcc-6/summary_coverage.json
  gcovr/tests/simple1-stdout/reference/gcc-8/summary_coverage.json
  gcovr/tests/simple1/reference/clang-10/summary_coverage.json
  gcovr/tests/simple1/reference/gcc-5/summary_coverage.json
  gcovr/tests/simple1/reference/gcc-6/summary_coverage.json
  gcovr/tests/simple1/reference/gcc-8/summary_coverage.json
  gcovr/writer/json.py
  noxfile.py
Labels: Type: Bug, Format: JSON

#528 Add an option to disable long file names
  AUTHORS.txt
  CHANGELOG.rst
  doc/source/faq.rst
  gcovr/gcov.py
Labels: Type: Bug, Gcov
