Repository gcovr/gcovr, pull requests merged in 2022-08, with the labels that each got.

#617 Fix decision coverage for excluded lines
  CHANGELOG.rst
  gcovr/decision_analysis.py
  gcovr/tests/decisions-neg-delta/reference/clang-10/coverage.functions.html
  gcovr/tests/decisions-neg-delta/reference/clang-10/coverage.html
  gcovr/tests/decisions-neg-delta/reference/clang-10/coverage.json
  gcovr/tests/decisions-neg-delta/reference/clang-10/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions-neg-delta/reference/clang-13/coverage.functions.html
  gcovr/tests/decisions-neg-delta/reference/clang-13/coverage.json
  gcovr/tests/decisions-neg-delta/reference/clang-13/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions-neg-delta/reference/gcc-11/coverage.functions.html
  gcovr/tests/decisions-neg-delta/reference/gcc-11/coverage.html
  gcovr/tests/decisions-neg-delta/reference/gcc-11/coverage.json
  gcovr/tests/decisions-neg-delta/reference/gcc-11/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions-neg-delta/reference/gcc-5/coverage.functions.html
  gcovr/tests/decisions-neg-delta/reference/gcc-5/coverage.html
  gcovr/tests/decisions-neg-delta/reference/gcc-5/coverage.json
  gcovr/tests/decisions-neg-delta/reference/gcc-5/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions-neg-delta/reference/gcc-8/coverage.json
  gcovr/tests/decisions-neg-delta/reference/gcc-8/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions/reference/clang-10/coverage.functions.html
  gcovr/tests/decisions/reference/clang-10/coverage.html
  gcovr/tests/decisions/reference/clang-10/coverage.json
  gcovr/tests/decisions/reference/clang-10/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions/reference/clang-13/coverage.functions.html
  gcovr/tests/decisions/reference/clang-13/coverage.json
  gcovr/tests/decisions/reference/clang-13/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions/reference/gcc-11/coverage.functions.html
  gcovr/tests/decisions/reference/gcc-11/coverage.html
  gcovr/tests/decisions/reference/gcc-11/coverage.json
  gcovr/tests/decisions/reference/gcc-11/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions/reference/gcc-5/coverage.functions.html
  gcovr/tests/decisions/reference/gcc-5/coverage.html
  gcovr/tests/decisions/reference/gcc-5/coverage.json
  gcovr/tests/decisions/reference/gcc-5/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  gcovr/tests/decisions/reference/gcc-8/coverage.functions.html
  gcovr/tests/decisions/reference/gcc-8/coverage.html
  gcovr/tests/decisions/reference/gcc-8/coverage.json
  gcovr/tests/decisions/reference/gcc-8/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
Labels: Type: Bug

#615 Fix relative paths in configuration files
  CHANGELOG.rst
  doc/source/guide/configuration.rst
  gcovr/__main__.py
  gcovr/configuration.py
  gcovr/tests/filter-relative-lib/Makefile
  gcovr/tests/filter-relative-lib/project/src/gcovr_add_tracefile.cfg
  gcovr/tests/test_args.py
  gcovr/writer/cobertura.py
  gcovr/writer/txt.py
Labels: Type: Bug, Docs

#623 More flexible gcov file parsing
  CHANGELOG.rst
  gcovr/gcov_parser.py
Labels: Type: Enhancement, Gcov

#651 Accept `NAN %` which is used in GCOV 7.5.0 instead of an invalid value.
  CHANGELOG.rst
  gcovr/gcov_parser.py
Labels: Type: Bug, Gcov

#656 Add base path for json.
  CHANGELOG.rst
  doc/source/guide/merging.rst
  gcovr/configuration.py
  gcovr/tests/simple1/Makefile
  gcovr/tests/simple1/reference/clang-10/coverage.json
  gcovr/tests/simple1/reference/clang-10/summary_coverage.json
  gcovr/tests/simple1/reference/clang-13/coverage.json
  gcovr/tests/simple1/reference/gcc-5/coverage.json
  gcovr/tests/simple1/reference/gcc-5/summary_coverage.json
  gcovr/tests/simple1/reference/gcc-8/coverage.json
  gcovr/tests/simple1/reference/gcc-8/summary_coverage.json
  gcovr/tests/test_gcovr.py
  gcovr/utils.py
  gcovr/writer/cobertura.py
  gcovr/writer/html.py
  gcovr/writer/json.py
  gcovr/writer/txt.py
Labels: Type: Enhancement, Format: JSON

#662 Add example section for filters
  AUTHORS.txt
  doc/source/guide/filters.rst
Labels: Docs
