Repository gcovr/gcovr, pull requests merged in 2024-04, with the labels that each got.

#911 Set the handler with the basic config
  gcovr/utils.py
Labels: Type: Bug

#912 Bugfix: Erroneous deprecation warning
  AUTHORS.txt
  CHANGELOG.rst
  gcovr/configuration.py
  tests/test_args.py
Labels: Type: Bug, Docs

#903 Detect suspicious counters
  .github/workflows/test.yml
  CHANGELOG.rst
  doc/source/guide/gcov_parser.rst
  gcovr/formats/gcov/__init__.py
  gcovr/formats/gcov/parser.py
  tests/test_gcov_parser.py
Labels: Type: Enhancement, Gcov

#917 Use development version instead of local ones
  setup.py
Labels: Type: Enhancement, QA, Internal change

#899 Create tag before publishing the distribution
  .github/workflows/deploy.yml
  CHANGELOG.rst
Labels: Type: Enhancement, Internal change

#918 Sort files on actual uncovered percentage
  AUTHORS.txt
  CHANGELOG.rst
  CONTRIBUTING.rst
  gcovr/configuration.py
  gcovr/coverage.py
  tests/html-nested-sort-percentage/Makefile
  tests/html-nested-sort-percentage/reference/clang-10/coverage.A.7fc56270e7a70fa81a5935b72eacbe29.html
  tests/html-nested-sort-percentage/reference/gcc-5/coverage.A.7fc56270e7a70fa81a5935b72eacbe29.html
  tests/html-nested-sort-percentage/reference/gcc-8/coverage.A.7fc56270e7a70fa81a5935b72eacbe29.html
  tests/html-nested-sort-uncovered/Makefile
  tests/sort-percentage/reference/clang-10/coverage.html
  tests/sort-percentage/reference/clang-10/coverage.txt
  tests/sort-percentage/reference/gcc-5/coverage.html
  tests/sort-percentage/reference/gcc-5/coverage.txt
  tests/sort-percentage/reference/gcc-8/coverage.html
  tests/sort-percentage/reference/gcc-8/coverage.txt
Labels: Type: Enhancement, Format: Text, Format: HTML, Format: JSON, Format: CSV, Format: LCOV
