Repository gcovr/gcovr, pull requests merged in 2025-01, with the labels that each got.

#1044 Fix included file color
  CHANGELOG.rst
  src/gcovr/formats/html/default/directory_page.content.html
  src/gcovr/formats/html/github/directory_page.content.html
  src/gcovr/formats/html/write.py
  tests/excl-function/reference/gcc-14/coverage.functions.html
  tests/excl-function/reference/gcc-14/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/excl-line-branch/reference/gcc-14/coverage.bar.cpp.1ddca1b75d47f0b58e83f6bcdebdda25.html
  tests/excl-line-branch/reference/gcc-14/coverage.functions.html
  tests/excl-line-branch/reference/gcc-14/coverage.main.cpp.a801c397191c3c330f07bc7e092524bb.html
  tests/excl-line/reference/gcc-14/coverage.functions.html
  tests/excl-line/reference/gcc-14/coverage.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/include/Makefile
  tests/include/reference/clang-10/coverage.file1.cpp.37fe642e5aafc503ffc5506444f44c6f.html
  tests/include/reference/clang-10/coverage.github.css
  tests/include/reference/clang-10/coverage.github.file1.cpp.37fe642e5aafc503ffc5506444f44c6f.html
  tests/include/reference/clang-10/coverage.github.functions.html
  tests/include/reference/clang-10/coverage.github.html
  tests/include/reference/clang-10/coverage.github.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/include/reference/clang-10/coverage.html
  tests/include/reference/clang-13/coverage.github.functions.html
  tests/include/reference/clang-13/coverage.github.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/include/reference/gcc-14/coverage.file1.cpp.37fe642e5aafc503ffc5506444f44c6f.html
  tests/include/reference/gcc-14/coverage.github.file1.cpp.37fe642e5aafc503ffc5506444f44c6f.html
  tests/include/reference/gcc-14/coverage.github.functions.html
  tests/include/reference/gcc-14/coverage.github.html
  tests/include/reference/gcc-14/coverage.github.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/include/reference/gcc-14/coverage.html
  tests/include/reference/gcc-5/coverage.file1.cpp.37fe642e5aafc503ffc5506444f44c6f.html
  tests/include/reference/gcc-5/coverage.github.css
  tests/include/reference/gcc-5/coverage.github.file1.cpp.37fe642e5aafc503ffc5506444f44c6f.html
  tests/include/reference/gcc-5/coverage.github.functions.html
  tests/include/reference/gcc-5/coverage.github.html
  tests/include/reference/gcc-5/coverage.github.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/include/reference/gcc-5/coverage.html
  tests/include/reference/gcc-8/coverage.github.functions.html
  tests/include/reference/gcc-8/coverage.github.html
  tests/include/reference/gcc-8/coverage.github.main.cpp.118fcbaaba162ba17933c7893247df3a.html
  tests/include/reference/gcc-8/coverage.html
Labels: Type: Enhancement, Format: HTML

#1050 Update link now sources have been moved to src/ folder
  doc/source/output/html.rst
Labels: Docs

#1051 Check dead links in documentation
  .github/workflows/CI.yml
  .readthedocs.yml
  README.rst
  admin/Dockerfile.qa
  cspell.json
  doc/source/conf.py
  doc/source/faq.rst
  doc/source/output/cobertura.rst
  doc/source/output/html.rst
  doc/source/output/json.rst
  noxfile.py
  tests/test_gcov_parser.py
Labels: Type: Enhancement, Docs

#1054 Add FAQ entry for decision coverage
  cspell.json
  doc/source/faq.rst
Labels: Docs
